/* Base styles */
body {
  font-family: var(--font-family);    
  
  
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 0;
}

/* Form styles */
.textContainers{
  width: 100vw; 
}
