:root {
  --color-gray-1: #3b424b;
  --color-gray-2: #68707d;
  --color-gray-3: #949fab;
  --color-gray-4: #c7cdd4;
  --color-gray-5: #edf1f6;
  --color-gray-6: #f7f9fb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

p + p {
  margin-top: 16px;
}

kbd,
code {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--color-gray-5);
  color: var(--color-gray-1);
  font-size: 14px;
}

.EditorContent > div {
  height: 92vh;
  width: 80vw;
  padding: 1vh;
  overflow-x: auto;
  overflow-y: auto;
}

.EditorContent > div:focus {
  outline: none;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 40px;
  width: min-content;
  margin: 0;
  padding: 6px;
  border-bottom: 1px solid var(--color-gray-5);
  background-color: grey;
  border-radius: 3px;
}

/* menu buttons */

/* Styles for the menu button */
.menu-button {
  /* Add your button styles here */
  background-color: var(--button-color);
  color: var(--button-text);
  border-radius: 1vh;
  border: 0px solid #cccccc;
  padding: 8px;
  cursor: pointer;
  height: 5.5vh;
}

.menu-button:hover {
  background-color: var(--button-hover-color);
}

/* Styles for the active state */
.is-active {
  /* Add your active styles here */
  background-color: var(--button-active-color);

  color: var(--button-alt-text);
}

/* Additional styles for disabled state */
.disabled {
  /* Add your disabled styles here */
  opacity: 0.5; /* Example opacity for disabled state */
  cursor: not-allowed; /* Example cursor for disabled state */
}
