:root {
  --color-gray-1: #3b424b;
  --color-gray-2: #68707d;
  --color-gray-3: #949fab;
  --color-gray-4: #c7cdd4;
  --color-gray-5: #edf1f6;
  --color-gray-6: #f7f9fb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
}


p {
  margin: 0;
}

p + p {
  margin-top: 16px;
}

kbd,
code {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--color-gray-5);
  color: var(--color-gray-1);
  font-size: 14px;
}

.EditorContent > div {
  height: 70vh;
  width: 80vw;
  padding: 1vh;
  overflow-x: auto;
  overflow-y: auto;
}

.EditorContent > div:focus {
  outline: none;
}
.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  margin: 0;
  padding: 0 8px;
  border-bottom: 1px solid var(--color-gray-5);
  background-color: var(--color-white);
  color: var(--color-gray-2);
}
