/* Shard Details Container Style */
body {
  font-family: var(--font-family);


}

.container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 0;
}



.textContainers{
  width: 82vw; 
}

.relatedShardsContainer{
  height: 92vh;
}

/* Related shard fields */

.ShardList{
  width: 18vw;
  height: 46vh;
  display: grid;
}

.columnHeader{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 1vh;
}
.columnHeaderButton{
  position: relative;
  
  width: min-content;
  height: min-content;
}
.ShardArea {
  display: grid;
  grid-template-columns: auto auto ;
  overflow-x: auto;
  overflow-y: auto;
}

.ShardArea a {
  text-decoration: none;
  /* Remove underline from links */
}




