/* Shard Details Container Style */
body {
  font-family: var(--font-family);


}

.container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 0;
}



.textContainers{
  width: 80vw; 
}
/* Related shard fields */

.ShardList{
  width: 20vw;
  background-color: red;
}







