/* Shard Details Container Style */
body {
  font-family: var(--font-family);
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 0;
}

.textContainers {
  width: 82vw;
}

.relatedShardsContainer {
  height: 92vh;
  display: grid;
  justify-content: space-between;
}

/* Related shard fields */

.ShardList {
  padding-top: 2vh;
  width: 18vw;
  height: 46vh;
  display: grid;
  justify-content: space-between;
}

.columnHeaderText {
  margin: 0;
  width: 18vw;
  height: min-content;
  font-weight: bold;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.ShardArea {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  overflow-x: auto;
  overflow-y: auto;
}

.ShardArea a {
  text-decoration: none;
  /* Remove underline from links */
}

.columnHeaderButton {
  position: relative;
  width: 16.5vw;
  height: min-content;

  padding: 1.5vh;
  margin: 1.5vh;
  font-weight: bold;
  border-radius: 1vh;
  cursor: pointer;

  border: var(--div-border);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.columnHeaderButton:hover {
  background-color: var(--button-hover-color);
}

.columnHeaderButton:active {
  background-color: var(--button-active-color);
}

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }
}
