/* ShardList.module.css */

.ShardList {
  justify-content: space-around;

  position: relative;
  padding: 0;
  padding-top: 10px;
  width: 100vw;
  height: 91.2vh;
  left: 0%;
}









.columnHeader {

  margin: auto;
  color: var(--secondary-text-color);
  /* Set text color */
  width: fit-content;
  font-size: 2.5vh;
  /* Increase font size for a more heading-like appearance */
  font-weight: bold;
  /* Make the text bold for emphasis */
  letter-spacing: 1px;
  /* Add a small letter-spacing for clarity */

}


.ShardArea {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto ;
}

.ShardArea a {
  text-decoration: none;
  /* Remove underline from links */
}