.ShardSummary {
  border: var(--div-border);
  padding: 2vh;
  margin: 0.7vh;
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  width:8.2vw;
  height: 8vh;
  text-align: left;
  color: black;
  user-select: none;
  display: grid;
  
  background-color: var(--active);

}

.LinkStyle{
 height: min-content;
}



.ShardSummaryTitle {
  font-size: var(--card-title);
  font-weight: var(--card-title-weight);
  font-family: var(--font-family);
  margin: 0;
  color: var(--card-text);
  margin-bottom: 1vh;

}



.ShardSummaryDate {
  margin: 0vh;
  font-size: var(--card-date);
  color: var(--card-text)
}